*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}
button{
    height: 40px;
    width: 95px;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
}

button:hover{
    background-color: hsl(214, 91%, 65%);
}
a{
    text-decoration: none;
    padding: 0 10px;
    color: white;
    cursor: pointer;
}
a:hover{
    color: #ffffffc1;
}
ul{
    list-style-type: none;
    display: flex;
    margin: 0;

}

img{
    height: 300px;
    width: 465px;
    border-radius: 10px;
    max-width: 700px;
    max-height: 400px;
    align-self: flex-start;
    justify-self: flex-start ;
}
.first{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    color:white;
    flex-direction: column;
    padding: 16px 32px;
}
 .header {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    height: 50px;
    padding-top: 15px;
}

.right-links{
    width: 400px;
    display: flex;
    justify-content: flex-end;
}

.logo{
    display: flex;
    justify-content: center;
    font-size: 24px;
    width: 200px;
    padding-right: 325px;
}

.hero{
    display: flex;
    font-size: 48px;
    font-style: bold;
    width: 350px;
    font-weight: 700;
}

.content{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    display: flex;
    flex-direction: column;
    width: 700px;
    padding-left: 200px;
    padding-bottom: 100px;
}
.btn{
    padding-top: 25px;
}

.logo{
    display: flex;
    width: 100vh;
    padding-left: 100px;
}

.second{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 100%;
    flex-wrap: wrap;flex-direction: column;
}

.service_text{
    display: flex;
    height: 100px;
    width: 500px;
    align-items: center;
    justify-content: center ;
    font-size: 36px;
}
.card{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    
}

.services{
    display: flex;
    gap: 15px;
}

.card img {
    height: 200px;
    width: 200px;
    /* object-fit: contain; */
    border-radius: 100px;
}

.third{
    display: flex;
    max-width: 100%;
    height: 300px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-style: italic;
    color: hsla(215, 28%, 17%, 0.829);
    text-align: justify;
    padding: 0 150px;
}

.fourth{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.title p{
    font-weight: bold;
}

.alert{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: white;
    align-items: center ;
    background-color: #3882F6;
    width: 700px;
    height: 150px;
    padding: 0 30px;
}

.alert button{
    border:2px solid white;
    /* align-self:flex-end ; */
}

.alert button:hover{
    background-color: hsl(217, 93%, 73%);
}
.footer{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 25px;
    color:white;
}

blockquote{
    font-weight: 200;
}